@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<table class="table table-responsive">
    <thead>
        <tr>
            <th>Editar</th>
            <th>IdUsuario</th>
            <th>UserName</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Paterno</th>
            <th>Email</th>
            <th>Password</th>
            <th>Fecha Nacimiento</th>
            <th>Sexo</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>CURP</th>
            <th>Rol</th>
            <th>Eliminar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (ML.Usuario usuario in Model.Usuarios)
        {
            <tr>
                <td>@usuario.IdUsuario</td>
                <td>@usuario.UserName </td>
                <td>@usuario.Nombre </td>
                <td>@usuario.ApellidoPaterno</td>
                <td>@usuario.ApellidoMaterno</td>
                <td>@usuario.FechaNacimiento</td>
                <td>@usuario.Email</td>
                <td>@usuario.Password
                <td>@usuario.FechaNacimiento
                <td>@usuario.Sexo
                <td>@usuario.Telefono
                <td>@usuario.Celular
                <td>@usuario.CURP
                <td>@usuario.Rol.IdRol
                

            </tr>

        }
    </tbody>
</table>
